table{
	position:relative;
	left: 40%;
	top: 30%;
	text-align: left;
	font-size: 30px;
}
#number{
	position: relative;
	left: 40%;
	top: 60%;
}
h3{
	color: lightgray;
	font-size: 30px;
}
